{% extends "layouts/base.twig" %}

{% block main %}
    <!-- This is for Vue -->
    <div id="app"></div>

    <!-- This is how you can use the icon sprite -->
    <span class="icon">
        <svg>
            <use xlink:href="#icon-example" />
        </svg>
    </span>
{% endblock %}